.ant-row {
  // flex-direction: column !important;
  // align-items: self-start !important;
  // justify-content: flex-start !important;
}
.card-ekyc {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.ant-card-actions {
  align-items: center;
  justify-content: end;
  height: 50px;
  background-color: #f3f6ff !important;
  li {
    display: block;
    width: auto !important;
    margin: 0 10px;
  }
}
.custom-row-ekyc {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 16px;
  .custome-col {
    flex: 0 0 50%;
  }
}
.text {
  margin: 0;
  color: #434a5e;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.text-tag {
  padding: 2px 12px;
  font-weight: 400;
  font-size: 16px;
}
.text-headding {
  margin: 0;
  color: #212633;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.title-card {
  margin: 0;
  color: #212633;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}
.modal-confirm .ant-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px !important;
  .ant-modal-confirm-btns {
    display: flex;
    justify-content: center;
  }
  .ant-modal-footer {
    border-top: none;
  }
}
