.card-ekyc {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.ant-card-actions {
  background-color: #F3F6FF !important;
  height: 50px;
  align-items: center;
  justify-content: end;
  li {
    margin: 0 10px;
    display: block;
    width: auto !important;
  }
}
.custom-row-ekyc {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 16px;
  .custome-col {
    flex: 0 0 50%;
  }
}
.text {
  font-size: 16px;
  font-weight: 400;
  color: #434A5E;
  line-height: 20px;
  margin: 0;
}
.text-tag {
  padding: 2px 12px;
  font-size: 16px;
  font-weight: 400;
}
.text-headding {
  font-size: 16px;
  font-weight: 700;
  color: #212633;
  line-height: 20px;
  margin: 0;
}
.title-card {
  font-size: 18px;
  font-weight: 700;
  color: #212633;
  line-height: 20px;
  margin: 0;
}
.modal-confirm .ant-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px !important;
  .ant-modal-confirm-btns {
    display: flex;
    justify-content: center;
  }
  .ant-modal-footer {
    border-top: none;
  }
}